html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #e0e0e0; /* Light text color */
    overflow: hidden; /* Prevent scrollbars */
    background: linear-gradient(360deg, #1e1e1e, #bb86fc, #3700b3, #1e1e1e);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #ffffff; /* Darker card background */
}

h1,
.schoolbell-regular {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #1e1e1e; /* White color for the heading */
}

button,
.walter-turncoat-regular {
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #bb86fc; /* Purple color for the button */
    color: #121212; /* Dark text color for contrast */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3; /* Darker shade on hover */
}